<a href="https://colab.research.google.com/github/eaent/jeonseungkwon/blob/master/9%EC%9B%9426%EC%9D%BCgamprototype%EC%88%98%EC%97%85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
a = list()

for i in range(8):
  i= 5+(i*-2)
  a.append(i)
print(a)

[5, 3, 1, -1, -3, -5, -7, -9]

In [42]:
a =[[1,2,3],[4,5,6,7],[8,9]]
for i in range(len(a)):
  for j in range(len(a[i])):
    print(a[i][j],end=" ")

1 2 3 4 5 6 7 8 9

In [74]:
numbers=[1,2,3,4,5,6,7,8,9]
output=[[],[],[]]

for number in numbers:
    output[(number-1)%3].append(number)   #0 1 2 에 골고루 넣어야함 1,4,7  2,5,8  3,6,9   0=0 1=1 2=2 3=0 4=1 5=2 6=0 7=1 8=2

print(output)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [63]:
my_pizzas = ['Shrimp','Steak','Pineapple']
for i in range(len(my_pizzas)):
  print(my_pizzas[i])
for i in range(len(my_pizzas)):
  print("I like {} pizza !".format(my_pizzas[i]))
print("I really love all kind of pizza!")

Shrimp
Steak
Pineapple
I like Shrimp pizza !
I like Steak pizza !
I like Pineapple pizza !
I really love all kind of pizza!

In [92]:
a= list()
for i in range(1000001):
  a.append(i)
a.remove(0)
print("min: {},max: {},sum: {}".format(min(a),max(a),sum(a)))
b = list(range(1,20,2))
print(b)
c = list(range(3,31,3))
for i in range(len(c)):
  print(c[i],end=" ")
print("\n")
sqares=[value**3 for value in range(1,11)]
print(sqares)

min: 1,max: 1000000,sum: 500000500000
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
3 6 9 12 15 18 21 24 27 30

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]