<a href="https://colab.research.google.com/github/eaent/jeonseungkwon/blob/master/B777029_JSK_gp_hw_10_12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1번 **문제**

In [ ]:
cars = ['audi','bmw','gmc','hyundai','volkswagen']

for car in cars:
  if len(car) == 3:
    print(car.upper())
  else:
    print(car.capitalize())

Audi
BMW
GMC
Hyundai
Volkswagen

2번 문제

In [ ]:
while True:
  print("What is the weather today? (1: Sunny, 2: Rainy, 3: Cloudy, 4: Snowy")
  choice = input()
  if choice == '1':
    print("오늘은 날씨가 좋으니까 짜장면!")
  elif choice == '2':
    print("오늘은 비가 오니까 짬뽕!")
  elif choice == '3':
    print("오늘은 흐리니까 볶음밥!")
  elif choice == '4':
    print("오늘은 눈이 오니까 탕수육!")
  else:
    print("Bye Bye~")
    break

What is the weather today? (1: Sunny, 2: Rainy, 3: Cloudy, 4: Snowy
5
Bye Bye~

3번 문제

In [ ]:
numbers = [i for i in range(1,11)]
for number in numbers:
  if number == 1:
    print("1st",end = " ")
  elif number == 2:
    print("2nd",end = " ")
  elif number == 3:
    print("3rd",end = " ")
  else:
    print(f"{number}th",end = " ")

1st 2nd 3rd 4th 5th 6th 7th 8th 9th 10th

4번 문제

In [ ]:
for i in range(1,10):
  for j in range(1,10):
    print("{} * {} = {}".format(i,j,i*j))
    if j == 9:
      print("")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

5-1

In [ ]:
months =['January','February','March','April','May','June',
         'July','August','September','October','November','December']

month_s =[i for i in range(len(months)) if ('r' or 'R') in months[i]]
for i in month_s:
    print(months[i],end = " ")

January February March April September October November December

5-2

In [ ]:
months_abb = {}
print(months_abb)
for month in months:  
  months_abb[month[:3]] = (month)
print(months_abb)
print(months_abb.get('Apr')) 
print(months_abb.get('Dec'))

{}
{'Jan': 'January', 'Feb': 'February', 'Mar': 'March', 'Apr': 'April', 'May': 'May', 'Jun': 'June', 'Jul': 'July', 'Aug': 'August', 'Sep': 'September', 'Oct': 'October', 'Nov': 'November', 'Dec': 'December'}
April
December

5-3

In [ ]:
months_num = {}
print(months_num)
a = 1
for month in months:
    months_num[a] = (month[:3])
    a += 1
print(months_num)
print(months_num.get(4))
print(months_num.get(12))

#for i in range(1,10):
#for j in range(1,10):

{}
{1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}
Apr
Dec